@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


    
body{
    font-family: 'Playfair Display', serif;
    color: blueviolet;
    font-weight: bold;
    background-color: antiquewhite;


}

#enlace{
    text-decoration: none;
}
#enlace1{text-decoration: none;}
#enlace2{
    text-decoration: none;

}
#enlace3{
    text-decoration: none;

}
#enlace4{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h2{
    background-color: aquamarine;
    text-align: center;
    font-size:x-large;
}
.body{
    display:inline-grid;
    grid-template-columns: 3fr ;
    justify-content:center;
    gap: 10px;
   
    

}
footer{
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    
    
    
}
article{
    display:grid;
    justify-content: center;
}
@media screen  and (min-width:320px){
    .body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 10px;
        
        
    }
    .foto {
        filter: grayscale(100%);
        transition: all 2s;
    }
    
    .foto:hover {
        filter: grayscale(0);
        transform: scale(1.5);
    }
    
    .fotoCont {
        overflow: hidden;
    }
    
    
}
@media screen and (min-width:1200px) {
    .body{
        display:grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 10px;

    }
    
}
.textolorem{
    
background-color: aquamarine;
font-size:x-large;
padding-inline-start: 10%;
padding-inline-end: 10%;

}
.griddos{
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 2%;
    margin: 2%;
}
.logo{
    display:grid;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    justify-content: center;
}


.sobremi{
    display: grid;
    justify-items: center;
    padding: 2%;
   
    
}
.trabajos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
   padding: 2%;

}

@media (min-width: 576px) {
    section{
    
}
@media (min-width: 768px) {
    section{
      
    }
}
@media (min-width: 992px) {
    section{
       
       
    }
}
@media (min-width: 1200px){
    section{
       
  
    }

}
.carrousel{
    display:inline-grid
   
}



    
}
h1{
    font-weight: 200;
    font-size: xx-large;
    color: black;
}


    
    



    
       



    
    

