@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


    
body{
    font-family: 'Playfair Display', serif;
    color: blueviolet;
    font-weight: bold;
    background-color: antiquewhite;


}

#enlace{
    text-decoration: none;
}
#enlace1{text-decoration: none;}
#enlace2{
    text-decoration: none;

}
#enlace3{
    text-decoration: none;

}
#enlace4{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h2{
    background-color: aquamarine;
    text-align: center;
}
.body{
    display: grid;
    grid-template-columns: 3fr ;
    justify-content:center;
    gap: 10px;
   
    

}
footer{
    display:inline-flex;
    align-items: center;
    justify-content: space-between
    
    
}
article{
    display:grid;
    justify-content: center;
}
@media screen  and (min-width:320px){
    .body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 10px;
        
        
    }
    .foto {
        filter: grayscale(100%);
        transition: all 2s;
    }
    
    .foto:hover {
        filter: grayscale(0);
        transform: scale(1.5);
    }
    
    .fotoCont {
        overflow: hidden;
    }
    
    
}
@media screen and (min-width:1200px) {
    .body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 10px;

    }
    
}
.textolorem{
    
background-color: aquamarine;
font-size:x-large;
padding-inline-start: 10%;
padding-inline-end: 10%;

}
.griddos{
    display: grid;
    justify-content: center;
    justify-items: center;
}

div{
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in;
    animation-duration: 5s;
    animation-delay: 10s;
}
@keyframes animacion{
     0%{
        width: 300px;
    }
     15%{
        width: 200px;
    }
    
     50%{
        width: 1000px;
        background-color: pink;
    }
     75%{
        width: 500px;
    }
     100%{
        width: 300px;
        background-color: aquamarine;
    }
}
h1{
    animation-duration: 5s;
    animation-name: aparecer;
    animation-timing-function: infinite;
    background-color: aquamarine;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}







    
    



    
       



    
    

